

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

a:visited, a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

.section-one{
    background-color: darkred;
    color: white;
    /* border: solid green; */
    margin: -10px -10px 0 -10px;
    max-height: 471px;
    display: block;
}

.header-bar{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
    max-width: 1200px;
    justify-content: flex-start;
    /* border: solid white; */
}

.header-logo{
    margin-right: auto;
    /* margin-left: auto; */
    font-size: 24px;
    font-weight: bold;
}

.header-link{
    font-size: 18px;
}

.title-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 100px 0;
    max-width: 1200px;
    /* border: solid lightblue; */
}

h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.title-container img{
    margin-left: 10px;
    max-width: 40%;
    overflow: hidden;
}

.section-two{
    display: block;
    align-self: stretch;
    text-align: center;
    max-width: 1200px;
    /* width: 1200px; 
    THIS WAS STOPPING THE IMAGES FROM WRAPPING
    */
    margin-right: auto;
    margin-left: auto;
    /* border: solid lightgreen; */
}

.image-item-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-self: stretch;
    max-width: 1200px;
    /* border: solid lightblue; */

    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 15px;
}
/* justify-content: flex-start;
border: solid white; */

.muscle-group-item{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.muscle-group-item img{
    width: 150px;
}

.muscle-group-item p{
    max-width: 250px;
    /* max-width: 10%; */
}

.crop {
    height: 150px;
    width: 149px;
    overflow: hidden;
    border: 4px solid red;
    border-radius: 15%;
}

#overheadpress{
    margin-top: -15px;
}

#pec-flies{
    width: 225px;
    margin-left: -36px;
}

#squat{
    margin-top: -50px;
}

#pull-up{
    width: 225px;
    margin-left: -55px;
}

.quote-section{
    padding: 80px 10px;
    align-self: stretch;
    margin: 0 -10px;
    background-color: #d9d9e9;
    display: flex;
    justify-content: center;
}

.quote-section div{
    max-width: 800px;
}

.quote{
    font-size: 40px;
    color: #1f2937;
    font-style: italic;
    font-variant: small-caps;
    /* max-width: 800px; */
    /* margin-left: auto;
    margin-right: auto; */
}

.quote-reference{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: end;
    margin-right: -100px;
}

.final-section{
    /* 
    margin-left: auto;
    margin-right: auto;
    THIS was stopping me from having the redbox expanded
    key is to have a div that's fully stretched out, with no limit on width
    then have ur flex container INSIDE of that, and use justify spacing
    or margins on flex items or whatever to make it stretch how you want
    TLDR:
    outside container should be infinitely wide (align: stretch)
    inside container flexi (so it can actually change)
    */
    display: block; 

    /* border: solid green; */
}

.sign-up-message-box{
    padding: 40px 100px;
    /* max-width: 1100px; */
    margin: 50px;
    background-color: crimson;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.final-section p{
    margin: 8px;
}

.final-section button{
    margin-left: auto;
}

.start-training-text{
    font-weight: bold;
    font-size: 20px;
}

button.sign-up{
    background-color: crimson;
    color: white;
    border-color: white;
    border-width: 2px;
    font-weight: bold;
    border-radius: 4px;
    height: 40px;
    width: 110px;
}

.footer{
    background-color: darkred;
    text-align: center;
    color: white;
    margin: -10px;
    font-size: 14px;
}